<ion-header>
  
  <ion-navbar color="secondary">
    
    <ion-title>
      Todos!
    </ion-title>
    
    <ion-buttons end>

      <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button>

    </ion-buttons>

  </ion-navbar>

</ion-header>
 
<ion-content>
  
  <ion-list>
    
    <!-- Take notice of the * syntax used here for the *ngFor in the list, this is shorthand for creating an embedded template. So rather than literally rendering out: -->
    <ion-item *ngFor="let item of items" (click)="viewItem(item)">{{item.title}}</ion-item>

  </ion-list>

</ion-content>