<!-- 
  There’s nothing too crazy going on here to start off with. 
  We have another button defined, this time calling a saveItem function 
  that we will define in add-item.ts shortly. 
  We also have a button that references a close function 
  
  – since we will eventually launch this page as a Modal we want the ability to dismiss the page, 
  so we will also be defining this function in add-item.ts. 
-->

<ion-header>
  <ion-toolbar color="secondary">
    
    <ion-title>
      Add Item
    </ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
   
  <ion-content>
    <ion-list>
   
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" [(ngModel)]="title"></ion-input> <!-- we have [(ngModel)], which sets up two-way data binding for us. Any change we make to the title field will be immediately reflected on the this.title member variable in add-item.ts  -->
      </ion-item>
   
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type="text" [(ngModel)]="description"></ion-input>
      </ion-item>
   
    </ion-list>
   
    <button full ion-button color="secondary" (click)="saveItem()">Save</button> <!-- we use the full attribute, this is a handy little attribute that will make the button full width for us. -->
   
  </ion-content>